addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.8
anyio==3.5.0
appdirs==1.4.3
apptools==5.1.0
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.3.3
async-timeout==4.0.2
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
Automat==0.8.0
Babel==2.6.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.1
blinker==1.4
blosc==1.7.0
Brlapi==0.7.0
cajarename==19.7.15
catfish==1.4.13
catkin-pkg==0.4.24
catkin-pkg-modules==0.4.24
cbor==1.0.0
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
cloudpickle==1.3.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.14
dask==2.8.1+dfsg
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
deja-dup-caja==0.0.6
deprecation==2.1.0
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.16
duplicity==0.8.12.0
empy==3.3.2
entrypoints==0.3
envisage==6.0.1
et-xmlfile==1.0.1
fasteners==0.14.1
filelock==3.0.12
folder-color-caja==0.0.86
folder-color-common==0.0.86
frozenlist==1.3.0
fsspec==0.6.1
future==0.18.2
gpg===1.13.1-unknown
h5py==2.10.0
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
imageio==2.4.1
imagesize==1.2.0
importlib-metadata==1.5.0
importlib-resources==5.4.0
incremental==16.10.1
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==4.3.4
jdcal==1.0
jedi==0.15.2
Jinja2==2.10.1
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyter-packaging==0.11.1
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.2
locket==0.2.0
lockfile==0.12.2
logilab-common==1.4.3
louis==3.12.0
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
Magnus==1.0.3
Mako==1.1.0
MarkupSafe==1.1.0
mate-hud==19.10.0
mate-menu==20.4.1
mate-tweak==20.4.0
matplotlib==3.1.2
mayavi==4.7.4
mccabe==0.6.1
menulibre==2.2.1
mistune==0.8.4
mock==3.0.5
monotonic==1.5
more-itertools==4.2.0
mpi4py==3.0.3
mugshot==0.4.2
multidict==6.0.2
nbclassic==0.3.5
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.5.4
netifaces==0.10.4
networkx==2.4
nose==1.3.7
notebook==6.4.8
numexpr==2.7.1
numpy==1.22.2
numpydoc==0.7.0
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
open3d==0.13.0
openpyxl==3.0.3
packaging==20.3
pandas==1.4.1
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.5.2
partd==1.0.0
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.1
pluggy==0.13.0
prometheus-client==0.13.1
prompt-toolkit==2.0.10
protobuf==3.6.1
psutil==5.5.1
ptyprocess==0.7.0
pulsemixer==1.5.0
py==1.8.1
py-ubjson==0.14.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.6.1
pycups==1.9.73
pydot==1.4.1
pyface==7.4.1
pyflakes==2.1.1
Pygments==2.11.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
pysvn==1.9.9
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-gnupg==0.4.5
python-pcl==0.3
python-snappy==0.5.3
python-xapp==1.8.1
python-xlib==0.23
PyTrie==0.2
pytz==2021.3
PyWavelets==0.5.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==6.0
pyzmq==18.1.1
QtAwesome==0.4.4
qtconsole==4.6.0
QtPy==1.9.0
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
roman==2.0.0
rope==0.10.5
rosdep-modules==0.21.0
rosdistro==0.8.3
rosdistro-modules==0.8.3
rospkg==1.4.0
rospkg-modules==1.4.0
scikit-image==0.16.2
scikit-learn==1.0.2
scipy==1.3.3
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.8.0
service-identity==18.1.0
setproctitle==1.1.10
sgt-launcher==0.2.5
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sniffio==1.2.0
soupsieve==1.9.5
Sphinx==1.8.5
spyder==3.3.6
spyder-kernels==0.5.2
ssh-import-id==5.10
systemd-python==234
tables==3.6.1
terminado==0.13.1
testpath==0.4.4
threadpoolctl==3.1.0
tomlkit==0.9.2
toolz==0.9.0
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
traits==6.3.2
traitsui==7.3.1
Twisted==18.9.0
txaio==2.10.0
typing-extensions==4.1.1
u-msgpack-python==2.1
ubuntu-advantage-tools==27.7
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
virtualenv==20.0.17
vtk==9.1.0
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==1.2.3
widgetsnbextension==3.5.2
wrapt==1.11.2
wsaccel==0.6.2
wslink==1.4.3
xcffib==0.8.1
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yarl==1.7.2
youtube-dl==2020.3.24
zipp==3.7.0
zope.interface==4.7.1
